<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beachy Vacations</title>
</head>
<body>
    {% layout 'layout.liquid' %}
    {% block content %}
    <div class="container-fluid">
        <h1>My Trips</h1>
   {% comment %}{% for flight in flights %}{% endcomment %}
            <div class="card mb-2">
                <div class="card-body">
                    <h4 style="color: rgb(31, 184, 234)" class="card-title">
                    Flight from {{ flight.itineraries[0].segments[0].departure.iataCode}} to {{  flight.itineraries[0].segments[0].arrival.iataCode }}
                    </h4>
                    <h6 style="color: black">
                        Flight Id: #{{flight.id}}
                    </h6>
                    <a class="btn btn-dark mt-3" href="/trip/show/{{flight._id}}" role="button">Select Flight</a>
                </div>
            </div>
               
                    <!-- <a href="/flights/vacation/{{flight.itineraries[0].segments[0].id}}" class="btn btn-info">Book Flight</a> -->
                    {%comment%}<a class="btn btn-dark mt-3" href="/flight/vacation" method="POST" role="button">Back to Flights</a>
                    {%endcomment%}
   {% comment %} {% endfor %} {% endcomment %}
    </div>
{% endblock %}
</body>
</html>