<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beachy Vacations</title>
</head>
<body>
    {% layout 'layout.liquid' %}
{% block content %}
<div class="container-fluid">
<h1>Beachy Vacation Flights</h1>
<img src="" id="beachy-img">

{% for oneData in data %}
<div class="card">
    <div class="card-body">
<p>
    City: {{.itineraries[0].segments[0].departure.iataCode}}
</p>





    </div>
    
</div>
    {% endfor %}


</div>
{% endblock %}
</body>
</html>

<!-- <One-way: {{data.oneWay}

        Departure:
    
            City: {{oneData.
                oneWay:
            }).itineraries[0].segments[0].departure.iataCode}} 
    
            Terminal: {{data.itineraries[0].segments[0].departure.terminal}}
    
            Departure Date: {{data.itineraries[0].segments[0].departure.at}}

        Arrival:
    
            City: {{data.itineraries[0].segments[0].arrival.iataCode}} 
    
            Terminal: {{data.itineraries[0].segments[0].arrival.terminal}}
    
            Arrival Date: {{data.itineraries[0].segments[0].arrival.at}} -->