<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacation Flights</title>
</head>
<body>
    {% layout 'layout.liquid' %}
    {% block content %}
        <h1> Vacation Flights</h1>
        {% for flight in flights %}
        <form action="/trip/vacation/save?_method=POST" name="flightId" method="POST">
        <div class="card mb-4">
            <div class="card-body">
                <h5 style="color: black" class="card-title">
                    Flight from {{flight.itineraries[0].segments[0].departure.iataCode }} to {{flight.itineraries[0].segments[1].arrival.iataCode }}
                </h5>
                <h6 style="color: black">
                    Flight Id: #{{flight.flightId}}
                </h6>
                <h6 style="color: black" class="card-title">
                    Departure
                </h6>
                <ul style="color: black">

                    <input name="iataCodeDep" style="display:none" value={{flight.itineraries[0].segments[0].departure.iataCode}}></input> 
                    <input name="iataCodeDepart" style="display:none" value={{flight.itineraries[0].segments[1].departure.iataCode}}></input> 
                    <input name="iataCodeDeparture" style="display:none" value={{flight.itineraries[1].segments[0].departure.iataCode}}></input> 
                    <li style="text-decoration: none">
                        City: {{flight.itineraries[0].segments[0].departure.iataCode }}
                    </li>

                    <input name="terminalDep" style="display:none" value={{flight.itineraries[0].segments[0].departure.terminal }}></input> 
                    <input name="terminalDepart" style="display:none" value={{flight.itineraries[0].segments[1].departure.terminal }}></input> 
                    <input name="terminalDeparture" style="display:none" value={{flight.itineraries[1].segments[0].departure.terminal }}></input> 
                    <li style="text-decoration: none">
                        Terminal: {{flight.itineraries[0].segments[0].departure.terminal }}
                    </li>

                    <input name="atDep" style="display:none" value={{flight.itineraries[0].segments[0].departure.at }}></input> 
                    <input name="atDepart" style="display:none" value={{flight.itineraries[0].segments[1].departure.at }}></input> 
                    <input name="atDeparture" style="display:none" value={{flight.itineraries[1].segments[0].departure.at }}></input> 
                    <li style="text-decoration: none">
                        Date: {{flight.itineraries[0].segments[0].departure.at | date: "%b %d, %y %H:%M"}}
                    </li>
                    
                </ul>
                <hr style="color: black">
                <h6 style="color: black" class="card-title">
                    Arrival
                </h6>
                <ul style="color: black">

                    <input name="iataCodeArr" style="display:none" value={{flight.itineraries[0].segments[0].arrival.iataCode }}></input> 
                    <input name="iataCodeArrival" style="display:none" value={{flight.itineraries[0].segments[1].arrival.iataCode }}></input> 
                    <input name="iataCodeArrivals" style="display:none" value={{flight.itineraries[1].segments[0].arrival.iataCode }}></input> 
                    <li style="text-decoration: none">
                        City: {{flight.itineraries[0].segments[0].arrival.iataCode }}
                    </li>

                    <input name="terminalArr" style="display:none" value={{flight.itineraries[0].segments[0].arrival.terminal }}></input> 
                    <input name="terminalArrival" style="display:none" value={{flight.itineraries[0].segments[1].arrival.terminal }}></input> 
                    <input name="terminalArrivals" style="display:none" value={{flight.itineraries[1].segments[0].arrival.terminal }}></input> 
                    <li style="text-decoration: none" >
                        Terminal: {{flight.itineraries[0].segments[0].arrival.terminal }}
                    </li>

                    <input name="atArr" style="display:none" value={{flight.itineraries[0].segments[0].arrival.at }}></input> 
                    <input name="atArrival" style="display:none" value={{flight.itineraries[0].segments[1].arrival.at }}></input> 
                    <input name="atArrivals" style="display:none" value={{flight.itineraries[0].segments[1].arrival.at }}></input> 
                    <li style="text-decoration: none">
                        Date: {{flight.itineraries[0].segments[0].arrival.at | date: "%b %d, %y %H:%M"}}
                    </li>
                    
                </ul>
                <h6 style="color: black" class="card-title" name="nonstop">
                    Number of Stops: {{flight.itineraries[0].segments[0].numberOfStops}}
                </h6>

                <input name="total" style="display:none" value={{flight.price.grandTotal}}></input> 
                <h6 style="color: black" class="card-title">
                    Price: ${{flight.price.grandTotal}}
                </h6>

                
                    <input type="submit" value="Add Flight to My Trips" class="btn btn-info">

                </div>
            </div>
            
        </form>
      
    {% endfor %}
    </div>
{% endblock %}

</body>
</html>

