<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacation Flights</title>
</head>
<body>
    {% layout 'layout.liquid' %}
    {% block content %}
        <h1> Vacation Flights</h1>
        {% for flight in flights %}
        <div class="card mb-4">
            <div class="card-body">
                <h5 style="color: black" class="card-title">
                    Flight from {{flight.itineraries[0].segments[0].departure.iataCode }} to {{flight.itineraries[0].segments[0].arrival.iataCode }}
                </h5>
                <h6 style="color: black">
                    Flight Id: #{{flight.id}}
                </h6>
                <h6 style="color: black" class="card-title">
                    Departure
                </h6>
                <ul style="color: black">
                    <li style="text-decoration: none" name="city">
                        City: {{flight.itineraries[0].segments[0].departure.iataCode }}
                    </li>
                    <li style="text-decoration: none" name="departure-terminal">
                        Terminal: {{flight.itineraries[0].segments[0].departure.terminal }}
                    </li>
                    <li style="text-decoration: none" name="departure">
                        Date: {{flight.itineraries[0].segments[0].departure.at }}
                    </li>
                    
                </ul>
                <hr style="color: black">
                <h6 style="color: black" class="card-title">
                    Arrival
                </h6>
                <ul style="color: black">
                    <li style="text-decoration: none" name="destination">
                        City: {{flight.itineraries[0].segments[0].arrival.iataCode }}
                    </li>
                    <li style="text-decoration: none" name="arrival-terminal">
                        Terminal: {{flight.itineraries[0].segments[0].arrival.terminal }}
                    </li>
                    <li style="text-decoration: none" name="arrival">
                        Date: {{flight.itineraries[0].segments[0].arrival.at }}
                    </li>
                    
                </ul>
                <h6 style="color: black" class="card-title" name="nonstop">
                    Number of Stops: {{flight.itineraries[0].segments[0].numberOfStops}}
                </h6>
                <h6 style="color: black" class="card-title" name="currency">
                    Price: ${{flight.price.grandTotal}}
                </h6>
                <form action="/trip/vacation/{{flight.id}}" name="id" method="POST">
                    <input type="submit" value="Add Flight to My Trips" class="btn btn-info">
                    {% comment %}<a href="/trip/{flight.itineraries[0].segments[0].id}}" 
                    class="btn btn-info">Add Flight to Trip</a> {% endcomment %}
                </form>
            </div>
        </div>
    

    {% endfor %}
    </div>
{% endblock %}

</body>
<script>
    const button = document.querySelector('.btn')

button.addEventListener('click', () => {
    button.classList.toggle('liked')
})
</script>
</html>

