<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacation Flights</title>
</head>
<body>
    {% layout 'layout.liquid' %}
    {% block content %}
        <h1> Vacation Flights</h1>
        {% for myData in myData %}
        <div class="card mb-4">
            <div class="card-body">
                <h5 style="color: black" class="card-title">
                   Flight from {{ myData.itineraries[0].segments[0].departure.iataCode }} to {{ myData.itineraries[0].segments[0].arrival.iataCode }}
                </h5>
                <h6 style="color: black" class="card-title">
                    Departure
                </h6>
                <ul style="color: black">
                    <li style="text-decoration: none">
                        City: {{ myData.itineraries[0].segments[0].departure.iataCode }}
                    </li>
                    <li style="text-decoration: none">
                        Terminal: {{ myData.itineraries[0].segments[0].departure.terminal }}
                    </li>
                    <li style="text-decoration: none">
                        Date: {{ myData.itineraries[0].segments[0].departure.at }}
                    </li>
                    
                </ul>
                <hr style="color: black">
                <h6 style="color: black" class="card-title">
                    Arrival
                </h6>
                <ul style="color: black">
                    <li style="text-decoration: none">
                        City: {{ myData.itineraries[0].segments[0].arrival.iataCode }}
                    </li>
                    <li style="text-decoration: none">
                        Terminal: {{ myData.itineraries[0].segments[0].arrival.terminal }}
                    </li>
                    <li style="text-decoration: none">
                        Date: {{ myData.itineraries[0].segments[0].arrival.at }}
                    </li>
                    
                </ul>
                <h6 style="color: black" class="card-title">
                    Number of Stops: {{myData.itineraries[0].segments[0].numberOfStops}}
                </h6>
                <form action="/flights/vacation/:id" method="POST">
                    <a href="/trip/{{myData.itineraries[0].segments[0].id}}" class="btn btn-info">Add Flight to Trip</a>
                </form>
            </div>
        </div>
    

    {% endfor %}
    </div>
{% endblock %}

</body>
</html>

